<!DOCTYPE html>
<html>
<meta charset="utf-8"/>
<link rel="stylesheet" href="/css/styles.css"/>

<body translate="no">
<div class="container log-in">
    <div class="box"></div>
    <div class="container-forms">
        <div class="container-info">
            <div class="info-item">
                <div class="table">
                    <div class="table-cell">
                        <p>
                            Уже есть аккаунт?
                        </p>
                        <div class="btn">
                            Войти
                        </div>
                    </div>
                </div>
            </div>
            <div class="info-item">
                <div class="table">
                    <div class="table-cell">
                        <p>
                            Нет аккаунта?
                        </p>
                        <div class="btn">
                            Зарегистрироваться
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-form">
            <div class="form-item log-in">
                <div class="table">
                    <div class="table-cell">
                        <form action="/login" method="post">
                            <input name="login" placeholder="Login" type="text">
                            <input name="password" placeholder="Password" type="Password">
                            <input type="submit" value="Войти" class="btn">
                        </form>
                    </div>
                </div>
            </div>
            <div class="form-item sign-up">
                <div class="table">
                    <div class="table-cell">
                        <form action="/register" method="post">
                            <input name="email" placeholder="Email" type="text">
                            <input name="fullName" placeholder="Full Name" type="text">
                            <input name="login" placeholder="Login" type="text">
                            <input name="password" placeholder="Password" type="Password">
                            <input type="submit" value="Зарегистрироваться" class="btn">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- JavaScript includes -->

<script src="//code.jquery.com/jquery-1.7.1.min.js"></script>
<script src="/js/script.js"></script>
</body>
</html>

